<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Primary keys: Create Geographic_Location table
© ExploreAI Academy

In this notebook, we demonstrate how to divide a larger dataset into smaller tables and link them using relationships.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

By the end of this train, you should:
- Understand how to extract specific related columns from a table to create a new table that will be linked with the rest of the tables using a relation.
- Understand how to create a primary key and the uniqueness constraint.

## Connecting to our MySQL database

Using our Access_to_Basic_Services table created in MySQL Workbench, we are interested in creating a table that contains only the geographic location data for each country. We can apply the same queries in MySQL Workbench and in this notebook if we connect to our MySQL server. Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:Dau/2022@localhost:3306/united_nations

'Connected: root@united_nations'

To make a query, we add the `%%sql` command to the start of a cell, create one open line, and then the query like below, and run the cell.

In [3]:
%%sql

SELECT 
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80'))]

## Exercise

We want to do the following:
1. Create a table named `Geographic_Location`.
2. Extract the relevant columns from the `Access_to_Basic_Services` table into the `Geographic_Location` table.

### 1. Create a table named Geographic_Location.

Create a table named `Geographic_Location` with the columns `Country_name`, `Sub_region`, `Region`, and `Land_area`, with `Country_name` being the primary key.

In [5]:
%%sql

CREATE TABLE united_nations.Geographic_Location (
  Country_name VARCHAR(37) PRIMARY KEY,
  Sub_region VARCHAR(25),
  Region VARCHAR(32),
  Land_area NUMERIC(10,2)
);

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

### 2. Extract the relevant columns from the Access_to_Basic_Services table.

Extract the columns `Country_name`, `Sub_region`, `Region`, and `Land_area` from the `Access_to_Basic_Services` table into the newly created `Geographic_Location` table.

In [6]:
%%sql

INSERT INTO united_nations.Geographic_Location (Country_name, Sub_region, Region, Land_area)
SELECT Country_name,
    Sub_region,
    Region,
    AVG(Land_area) as Country_area
FROM united_nations.Access_to_Basic_Services
GROUP BY Country_name,
    Sub_region,
    Region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
182 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

Remember that we specified that the `Country_name` column serves as the primary key for the `Geographic_location` table. 
`Country_name`, however, is not a unique identifier and contains duplicate countries in the `Access_to_Basic_Services` table since the same country names have been recorded many times for various years. The same applies for `Sub_region` and `Region`.

These duplicates will also be copied when the data of this column are transferred to the new `Geographic_Location` table. In order to obtain the unique entries, we must group the data by `Country_name`, `Sub_region`, and `Region`. 

By doing this, any "Duplicate entry for primary key" errors will be avoided.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>