In [19]:
#prepare sql environment
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [20]:
#reloading the extension
%reload_ext sql

# Client service Architecture

In [21]:
#mysql connection string
%sql mysql+pymysql://root:Dau/fjajaj@localhost:3306/md_water_services

MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [23]:
#if using sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:Daufjajaj@localhost:3306/md_water_services')
connection = engine.connect()

In [31]:
%sql

SELECT *
FROM 
    water_source
LIMKT 10;

SyntaxError: invalid syntax (1606722383.py, line 3)