<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# The First Normal Form – 1NF
© ExploreAI Academy

In this train, we will cover the concept of the First Normal Form (1NF) in database design, explaining its four key conditions and illustrating how a composite primary key can help achieve 1NF in a table, using a restaurant management database as an example.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `company_data` database.

## Learning objectives

In this train, we will:
- Understand the four conditions required to achieve the First Normal Form (1NF) in a database table. 
- Learn how to identify and establish a primary key to ensure data integrity and conformity to 1NF in a given table.

## Connecting to the database

Using our `Company_employees` table in our `company_data` database that was created in MySQL Workbench, we want to answer some questions about our dataset. We can apply the same queries we used in MySQL Workbench in this notebook if we connect to our MySQL server by running the cells below.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:Dau/2022@localhost:3306/company_data

'Connected: root@company_data'

## Overview 

Suppose we're building a restaurant management database that needs to store data about the company's employees. The database designer starts by creating the following table of employees:

In [3]:
%%sql
SELECT 
	* 
FROM 
	Company_employees;

 * mysql+pymysql://root:***@localhost:3306/company_data
5 rows affected.

[('E001', 'Carmel', 'J01', 'Chef', 26, 'Cape Town'),
 ('E001', 'Carmel', 'J02', 'Waiter', 26, 'Cape Town'),
 ('E002', 'Stefanie', 'J02', 'Waiter', 56, 'Joburg'),
 ('E002', 'Stefanie', 'J03', 'Bartender', 56, 'Joburg'),
 ('E003', 'Lisa', 'J01', 'Chef', 5, 'Nairobi')]

To achieve the First Normal Form, a table needs to satisfy three conditions: 
1. Each cell in the table must not hold more than one value, which is referred to as atomicity.
2. The table must have a primary key for identification.
3. It should have no duplicated rows or columns.

## Exercise

### Exercise 1

Achieve the First Normal Form for the `Company_employees` table.

Typically, achieving the First Normal Form involves establishing a key to uniquely identify each row. In the case of the Company_employees table, this uniqueness is achieved through the composite primary key consisting of (Employee_id and Job_code), which means the table already conforms to 1NF.

¶

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>